@import '_reveal-base';
// @import '_solarized';
// @import '_simple';
// @import '_white';
@import '_black';
@import '_hljs';
@import '_helper';

.reveal {
	& .diagram {
		box-shadow: none;
		max-height: 50vh;
		border: 0 solid transparent;
		padding: 2rem;
		background: #fefefe;
	}

	& .show-for-sr {
		font-size: 0;
		height: 1px;
		width: 1px;
		display: inline-block;
	}

	& .smaller-text{
		font-size: .75em;
	    line-height: 1.4em;
	}

	& pre {
		box-shadow: none;
		font-size: .85em;
		margin: 1rem auto;
	}
	& .post-only {
		display: none !important;
	}

	& .slide-half-col {
		display: inline-block;
		width: 49%;
	}
	& table.base-table {
		& thead {
			background: #fefefe;
			color: #3c4151; 
		}
	}
}