@import './foundation/scss/app';

@font-face {
  font-family: "Sans Forgetica";
  src: url("../sans-forgetica.otf") format("otf");
}

$grey: #3c4151;
$light-grey: #cacaca;

body {
    color: $grey;
}

.button {
    font-weight: bold;
    &-group {
        display: flex;
        justify-content: center;
    }
    &--home {
        position: absolute;
        @include breakpoint(medium up) {
            position: fixed;
        }
        @include breakpoint(900px down) {
            box-shadow: 1px 1px 4px rgba(60,65,81, .15);
        }
        background: white;
        color: $grey;
        &:focus {
            background: $light-grey;
            color: $grey;
            @include breakpoint(900px down) {
                box-shadow: 1px 1px 3px rgba(60,65,81, .25);
            }
        }
        &:hover {
            background: $light-grey;
            color: $grey;
        }
    }
    &.disabled {
        pointer-events: none;
    }
}

.page {
    &__title {
        color: white;
        background: $grey;
        font-weight: 900;
        padding-top: 6.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 4rem;
        font-size: 7vw;
        text-align: center;
        line-height: 7vw;
        text-transform: uppercase;
        .home & {
            padding-top: 4rem;
        }
    }
    &__hero-img {
        margin-top: 4rem;
    }
}

.weeks-table {
    margin-top: 2rem;
    &>tbody {
        border: 0 solid transparent;
        & td {
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 3rem;
            background: $light-gray;
            border-top: 1px solid $medium-gray;
        }
    }
    & .button-group {
        margin-bottom: 0;
    }
    & th[colspan='2'] {
        padding: 1.5rem 2rem;
        @include breakpoint(large up) {
            display: block;
        }
        & p {
            line-height: 1.4;
            font-weight: 500;
            text-align: left;
            @include breakpoint(medium up) {
                margin: 1rem 2rem 1.5rem;
            }
        }
    }
    & tr:nth-of-type(odd) {
        @include breakpoint(large up) {
            padding: 2rem;
            display: block;
            margin-top: 4rem;
        }
        &:first-child {
            @include breakpoint(large up) {
                margin-top: 1rem;
            }
        }
    }
    & .callout {
        margin-bottom: 0;
        @include breakpoint(medium up) {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    & h2 {
        font-weight: 500;
        @include breakpoint(small down) {
            font-weight: 900;
            font-size: 1.5em;
            margin-bottom: 1rem;
            padding-bottom: .5rem;
            padding-top: .5rem;
        }
    }
}

.post-only {
    .slides & {
        display: none;
    }
}

.slide-only {
    .post & {
        display: none;
    }
}

.post {
    &>section:not(.page) {
        margin: 8rem 0;
        @include breakpoint(small down) {
            padding: 0 1rem;
        }
    }
    &>div {
        margin-top: 1rem;
        margin-bottom: 1rem;
        @include breakpoint(small down) {
            padding: 0 1rem;
        }
    }
}

img {
    margin: 1rem 0;
}

.post-section {
    border-top: 3px solid $grey;
    margin-top: 1rem;
    padding-top: 3rem;
}

.toc {
    margin: 3rem 1rem;
}

h2.h2 {
    border-bottom: 2px solid $grey;
    display: inline-block;
    padding-bottom: .5rem;
    padding-right: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.image-3q {
    @include breakpoint(large up) {
        max-width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

ol>li>ol {
    list-style-type: lower-alpha;
    & .list-style-none {
        list-style: none;
    }
}

figcaption {
    margin-bottom: 1rem;
}

code.language-sql {
    border: 0 solid transparent;
    background-color: transparent;
}

code {
    @include breakpoint(small down) {
        word-break: break-all;
        display: inline;
    }
    &[class*="language-"] {
        @include breakpoint(small down) {
            word-break: break-all;
            display: inline;
        }
    }
}

a {
    @include breakpoint(small down) {
        word-break: break-all;
        display: inline;
    }
}

.lab-questions>li {
    padding: 2rem 0;
}

.assignment ol > li {
    margin-bottom: 1.5rem;
    & ol > li {
        margin-bottom: .75rem;
    }
    & table {
        margin-top: 1rem;
    }
}

.list-style-none, dl.no-bullet {
    list-style: none;
}

.forgetica {
    font-family: "Sans Forgetica", sans-serif;
}

table pre[class*="language-"], table code[class*="language-"] {
    white-space: normal !important;
}