---
title: Assignment 3
layout: default
hasSlides: false
---
<div class="grid-container assignment">
  <div class="grid-x grid-margin-x">
    <div class="cell small-10 small-offset-1 large-6 large-offset-3">
      <h2 class="h2">Data manipulation and aggregate functions</h2>
      <div class="callout primary">Submit as a .sql file.</div>
      <div class="callout alert"><strong>Due Date</strong>: Before 11:59pm, Wednesday, Oct 3rd.</div>
      <ol>
        <li>Write an INSERT statement that adds this row to the Invoices table:
          <ul class="no-bullet">
            <li>invoice_id:  The next id in sequence (find out what this should be)</li>
            <li>vendor_id:  32</li>
            <li>invoice_number: AX-014-027</li>
            <li>invoice_date: 8/1/2008 (in the correct date format)</li>
            <li>invoice_total:  $434.58 </li>
            <li>payment_total:  $0.00</li>
            <li>credit_total: $0.00</li>
            <li>terms_id: 2</li>
            <li>invoice_due_date: 8/31/2008</li>
            <li>payment_date: null</li>
          </ul>
        </li>
        <li>Write an UPDATE statement that modifies the Vendors table. Change the default account number to 570 for each vendor that has a default account number of 400.</li>
        <li>Write an UPDATE statement that modifies the Invoices table. Change the terms_id to 2 for each invoice that’s for a vendor with a default_terms_id of 2.</li>
        <li>Write a DELETE statement that deletes the row that you added to the Invoices table in question 1.</li>
        <li>Write a SELECT statement that returns one row for each vendor. Each row should contain these columns:
          <ul class="no-bullet">
            <li>The vendor_name column from the Vendors table</li>
            <li>The sum of the payment_total column in the Invoices table.</li>
          </ul>
          The result set should be sorted in descending sequence according to the payment total sum for each vendor.
        </li>
        <li>Write a SELECT statement that returns one row for each vendor. Each row should contain these columns:
          <ul class="no-bullet">
            <li>The vendor_name column from the Vendors table</li>
            <li>The count of the invoices for each vendor in the Invoices table</li>
            <li>The sum of the invoice_total column for each vendor in the Invoices table</li>
          </ul>
          Sort the result set so the vendor with the most invoices appears first.
        </li>
        <li>
          Write a SELECT statement that returns one row for each general ledger account number.  Each row should contain these columns:
          <ul class="no-bullet">
            <li>The account_description column from the General_Ledger_Accounts table</li>
            <li>The count of the entries in the Invoice_Line_Items table that have the same account_number</li>
            <li>The sum of the line item amounts in the Invoice_Line_Items table that have the same account-number</li>
          </ul>
          Filter the result set to include only those rows with a count greater than 1; group the result set by account description; and sort the result set in descending sequence by the sum of the line item amounts.
        </li>
        <li>Write a SELECT statement that answers this question: Which vendors are being paid from more than one account? Return two columns: the vendor name and the total number of accounts that apply to that vendor’s invoices. Hint: Use the DISTINCT keyword to count the account_number column in the Invoice_Line_Items table.</li>
      </ol>
    </div>
  </div>
</div>