html,
body {
  font-size: 20px;
}

h1,
h2 {
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

.hero {
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  color: #ffffff;
  font-size: 9vw;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 6vh 2vh 0;
  margin-bottom: 4rem;

  &--page {
    height: 25vh;
    font-size: 8vw;
    flex-direction: column;
    justify-content: space-between;
  }
}

.page-list {
  margin: 2rem 0;

  &__link {
    font-weight: 500;
    margin-top: 1rem;
    margin-right: .5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.post-image {
  width: 100%;
  max-height: 5rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.page-nav {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-top: 1rem;

  &__link {
    color: white;
    text-decoration: underline;
    transition: color .15s;

    &:hover {
      color: #d8d8d8;
    }

    &:focus {
      color: #d8d8d8;
    }
  }
}