---
title: The seventh week
layout: default
hasSlides: true

---
<% const part = '../../../partials/'; %>
<% const basePath = site.basePath %>

<section class="slide-only">
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <h2 class="h2">Happy Thursday!</h2>
    </div>
  </div>
</section>
<section>
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <p><a href="<%= basePath %>/assets/documents/test.sql" target="_blank">Test script.</a></p>  
    </div>
  </div>
</section>