<section>
    <div class="grid-x">
        <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
            <table>
                <caption>Final rubric</caption>
                <thead>
                    <tr>
                        <th>Criteria</th>
                        <th>Presentation</th>
                        <th>Written</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Speaking to the goals</td>
                        <td>5</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Talking about the methods</td>
                        <td>5</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Walking through the results</td>
                        <td>10</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Strong conclusions</td>
                        <td>5</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Reasonable recommendations</td>
                        <td>10</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Documentation</td>
                        <td>N/A</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Responding to questions</td>
                        <td>10</td>
                        <td>N/A</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><strong>40%</strong></td>
                        <td><strong>60%</strong></td>
                </tfoot>
            </table>
        </div>
    </div>
</section>