<% if (page.today) { %>
	<section class="slide-only">
    <h2>Here's what we're going today</h2>
	    <ol>
	    	<% const today = page.today %>
	        <% today.assorted.forEach(item => { %>
	        	<li><%= item %></li>
	        <% }) %>
	        <% if (today.theory) { %>
			<li>Theory
				<ol>
					<% today.theory.forEach(item => { %>
						<li><%= item %></li>
					<% }) %>
				</ol>
			</li>
	        <% } %>
	       	<% if (today.praxis) { %>
			<li>Praxis
				<ol>
					<% today.praxis.forEach(item => { %>
						<li><%= item %></li>
					<% }) %>
				</ol>
			</li>
	        <% } %>
	    </ol>
	</section>
<% } %>