<% const today = page.today %>

<section>
  <h2 class="slide-only">Here's what we're going today</h2>
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <ol class="toc">
      <% today.forEach(item => { %>
      	<li><a href="#<%= item.id %>"><%= item.title %></a></li>
      <% }) %>
      </ol>
    </div>
  </div>
</section>