{{ define "main" }}
	<main class="post">
		<article>
			<div class="hero hero--page" style="background-image:url('/images/{{ .Params.featured_image }}')">
				<nav class="page-nav">
					<a class="button small primary page-nav__link" href="{{ .Site.BaseURL }}">Home</a>
					<a class="button small primary page-nav__link" href="/slides/{{ .RelPermalink }}">Slides</a>
				</nav>
				<h1 class="page-title">{{ .Title }}</h1>
			</div>
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell large-6 large-offset-3 medium-10 medium-offset-1">{{ .Content }}</div>
									
				</div>
			</div>
		</article>
	</main>
{{ end }}
