<article class="page-list">
	<h2 class="page-list__heading"><a href="{{ .Permalink }}" class="page-list__link">{{ .Title }}</a></h2>
	{{ if isset .Params "featured_image" }}
		<img src="/images/{{ .Params.featured_image }}" class="post-image">
	{{ end }}
	<div class="page-list__summary">
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more about {{ lower .Title }} ...</a>
		{{ end }}
	</div>
	<div class="page-list__links">
		<a href="{{ .Permalink }}" class="button small page-list__link">Notes</a>
		<a href="/slides/{{ .RelPermalink }}" class="button small page-list__link">Slides</a>
	</div>
</article>
