<!DOCTYPE html>
<html lang="en-US">
<head>
  <%- include('../partials/head') %>
  
<link rel="stylesheet" href="<%= site.basePath %>/assets/css/styles.css">
</head>
<body>
<section class="page-header">
  <a href="<%= site.basePath %>/" class="btn">Home</a>
</section>
<section class="main-content">
  <%- body %>
</section>
</body>
</html>
